MONGODB_URI=mongodb+srv://Budapesht:Zr5nf743@cluster0.2typi7n.mongodb.net/
JWT_SECRET=your_super_secret_key_here
TMDB_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkNzg1YWFlYTg5NjNlYjFhZmUwYzU3NzgwZDlhYWRlNyIsIm5iZiI6MTc4MDkxMTI4MS44MTUsInN1YiI6IjZhMjY4Y2IxM2MyMDA1YTgzMWE2ZTA5ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.wpoPuVdGKU5nK6q5wBUJ2eBMh-5edWUBlRHx-DEhIfY
PORT=3000
